.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 640px;
    width: 640px;
    background-color: antiquewhite;
    border: 2px solid black;
}

.grid-item {
    border: 1px solid white;
    box-sizing: border-box;
}